* {
    margin: 0;
    padding: 0;
}

/* 叉叉按鈕 */
.container {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 30px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

/* 導覽列圖片 */
.firstImage {
    margin-left: 20px;
    margin-top: 25px;
    margin-bottom: 15px;
    width: 200px;
    height: 45px;
}

/* 導覽列內容 */
.navContent {
    position: relative;
    top: 50px;
    left: 20px;
    width: 200px;
    height: 200px;
    background-color: #f50000;
}

.nav-item>a {
    scale: 100%;
    transition: 0.2s;
}

.nav-item>a:hover {
    scale: 117%;
}

/* 視差內容 */
body,
html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
}

.bgimg-1,
.bgimg-2,
.bgimg-3 {
    position: relative;
    opacity: 0.8;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.bgimg-1 {
    background-image: url("../Product/Landscape/Landscape12.jpg");
    min-height: 100vh;
}

.bgimg-2 {
    background-image: url("../Product/Landscape/Landscape8.jpg");
    min-height: 100vh;
}

.bgimg-3 {
    background-image: url("../Product/Landscape/Landscape13.jpg");
    min-height: 100vh;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.Myborder {
    border: 2px solid white;
    color: rgba(255, 255, 255);
    padding: 22px;
    font-size: 27px;
    letter-spacing: 4px;
}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {

    .bgimg-1,
    .bgimg-2,
    .bgimg-3 {
        background-attachment: scroll;
    }
}

/* icon變色 */
i:hover {
    color: lightcyan;
}

/* TOP置頂按鈕 */
.MyTop {
    position: fixed;
    /* 與右側距離為0 */
    right: 0;
    /* 與底部距離為0 */
    bottom: 0;
    background-color: transparent;
    margin-right: -15px;
    margin-bottom: 40px;
}

/* TOP置頂按鈕-圖片 */
.MyTop img {
    width: 80px;
    opacity: 0.6;
}

/* 設計師卡片 */
.Mycard {
    /* display: flex; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0.1, 0.1);
    transition: 0.3s;
    width: 100%;
    transform: translateY(0px);
    transition: 0.3s;
    overflow: hidden;
    margin-bottom: 30px;
}

.MyCardcontainer {
    width: 100%;
    height: 460px;
}

.Mycard:hover {
    /* box-shadow: 0 8px 16px 0 rgba(0, 0, 1, 0.3); */
    /* scale: 105%; */
    transform: translateY(-20px);
}

/* .MyCardcontainer h6{
    border-bottom: 1px solid gray;
    padding-bottom: .4em;
    margin-bottom: .4em;
    margin-top: .4em;
    font-weight: 600;
} */

.MyCardcontainer h4 {
    font-weight: 700;
}

.MyCardcontainer img {
    height: 230px;
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
}

.MyCardcontainer .Mytext {
    padding: 10px;
    position: relative;
}

@media only screen and (min-width: 1200px) {
    .MyCardcontainer .Mytext:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 0;
        left: 0;
        top: 0;
        border-top: 70px solid transparent;
        border-left: 15vw solid rgb(255, 255, 255);
        border-right: 15vw solid rgb(255, 255, 255);
        transform: translateY(-99%);
    }
}

@media only screen and (max-width: 1200px) {
    .MyCardcontainer .Mytext:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 0;
        left: 0;
        top: 0;
        border-top: 70px solid transparent;
        border-left: 14.5vw solid rgb(255, 255, 255);
        border-right: 14.5vw solid rgb(255, 255, 255);
        transform: translateY(-99%);
    }
}

@media only screen and (max-width: 992px) {
    .MyCardcontainer .Mytext:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 0;
        left: 0;
        top: 0;
        border-top: 70px solid transparent;
        border-left: 14vw solid rgb(255, 255, 255);
        border-right: 14vw solid rgb(255, 255, 255);
        transform: translateY(-99%);
    }
}


@media only screen and (max-width: 768px) {
    .MyCardcontainer .Mytext:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 0;
        left: 0;
        top: 0;
        border-top: 70px solid transparent;
        border-left: 20.5vw solid rgb(255, 255, 255);
        border-right: 20.5vw solid rgb(255, 255, 255);
        transform: translateY(-99%);
    }
}

@media only screen and (max-width: 576px) {
    .MyCardcontainer .Mytext:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 0;
        left: 0;
        top: 0;
        border-top: 70px solid transparent;
        border-left: 38.3vw solid rgb(255, 255, 255);
        border-right: 38.3vw solid rgb(255, 255, 255);
        transform: translateY(-99%);
    }
}

/* .MYCardcontainer {
    padding: 2px 16px;
} */

/* 公司介紹滑鼠經過效果 */
.AboutBoxShadow {
    scale: 100%;
    transition: scale 0.6s ease;
}

.AboutBoxShadow:hover {
    scale: 113%;
}

/* 滑鼠經過覆蓋效果 */
.Mycover {
    position: relative;
    display: inline-block;
    /* padding-bottom: 0.5em; */
    padding-right: 0.5em;
    text-decoration: none;
}

.Mycover::before {
    content: "";
    position: absolute;
    /* left: 0; */
    /* bottom: 0; */
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    /* transition: height 1s ease; */
    transition: width 1s ease;
}

.Mycover:hover::before {
    /* height: 100%; */
    width: 100%;
}
